<footer class="bg-color mt-3">
    <div class="container pt-14 mx-auto px-24 grid gird-cols-1 md:grid-cols-4 ">
        <div class="px-10">
            <p class="text-lg font-semibold text-gray-600">Clothes world</p>
            <p class="text-sm font-semibold text-gray-400">Với thông điệp "Refined Life", Clothes world mong muốn đem đến cho khách hàng một lối sống tinh gọn bằng các sản phẩm thời trang tinh tế.</p>
        </div>
        <div class="px-10">
            <p class="text-lg font-semibold text-gray-600">CHI NHÁNH HÀ NỘI</p>
            <p class="text-sm font-semibold text-gray-400">105 - D6, ngõ 4B Đặng Văn Ngữ</p>
            <p class="text-sm font-semibold text-gray-400">70 Tô Hiến Thành</p>
            <p class="text-sm font-semibold text-gray-400">167 Cầu Giấy</p>    
            <p class="text-sm font-semibold text-gray-400">46 Đông Các</p>   

            <p class="text-lg font-semibold text-gray-600">CHI NHÁNH HỒ CHÍ MINH</p>
            <p class="text-sm font-semibold text-gray-400">Lầu 1, số 25, Nguyễn Trãi, Q1</p>
            <p class="text-sm font-semibold text-gray-400">152 Nguyễn Gia Trí, Bình Thạnh</p>
        </div>
        <div class="px-10">
            <p class="text-lg font-semibold text-gray-600">LIÊN HỆ</p>
            <p class="text-sm font-semibold text-gray-400">Hotline: 086 993 6266</p>
            <p class="text-sm font-semibold text-gray-400">Email: info@Clothesword.com</p>
        </div>
        <div class="px-10">
            <p class="text-lg font-semibold text-gray-600">SOCIAL</p>
            <ul class="text-2xl font-semibold text-gray-400 flex mr-3">
                <li>
                    <a routerLink="https://www.facebook.com/"><i class="uil uil-facebook-f"></i></a>
                </li>
                <li>
                    <a routerLink="https://www.facebook.com/"><i class="uil uil-instagram"></i></a>
                </li>
                <li>
                    <a routerLink="https://www.facebook.com/"><i class="uil uil-youtube"></i></a>
                </li>
                <li>
                    <a routerLink="https://www.facebook.com/"><i class="uil uil-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>